<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap" rel="stylesheet">
<div style="position: relative">
  <img
    src="https://static.vecteezy.com/system/resources/previews/000/692/715/non_2x/gradient-geometric-background-vector.jpg"
    alt="" width="100%" height="100%" />
  <div
    style="position: absolute; left: 30%; margin-left: -120px; top: 10%; margin-top: -75px; width:50%; height: 50%; color:darkslategray ; text-align: center; font-size: 30px; font-family: 'Montserrat', sans-serif;">
    <p> API NODE JS APLICAÇÃO LOREAL </p> <a style="color: aliceblue;" href="/swagger">Swagger (Em Construção) </a>

    <br><br>
    <p style="font-size: 18px; color: #000; text-align: initial;">
      ## [Versão: 1.1.4] - 21/07/2020
      <br><br>
      ### Adicionado
      <br><br>
      - Nada foi adicionado nessa versão
      <br><br>
      ### Modificado
      <br><br>
      - Atualiza API para adicionar METAS ao banco de dados.<br>
      - Corrige cadastro de usuarios.
      <br><br>
      ### Removido
      <br><br>
      - Nada foi removido nessa versão!
    </p>
    <br>
    <p style="font-size: 18px;color:aliceblue">Starley Cazorla - <a style="color: aliceblue;"
        href="https://api.whatsapp.com/send?phone=5562983423798&text=Ol%C3%A1%2C%20Desenvolvedor%20queira%20a%20sua%20ajuda!"
        target="_blank"> (62) 98342-3798 </a> - <a style="color: aliceblue;" href="https://www.starlley.dev"
        target="_blank">www.starlley.dev</a> </p>
  </div>
</div>